.App {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

h2 {
  color: #5a5a5a;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #666;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  background-color: #666;
  color: white;
  margin-right: 10px;
}

button:hover {
  background-color: #555;
}

.category-list, .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-item, .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* 4 елементи в рядку */
  box-sizing: border-box;
}

.image-container {
  width: 100px; /* Фіксований розмір для зображень */
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Фонове забарвлення для кращого вигляду */
  margin-bottom: 10px;
}

.category-image, .product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Зберігає пропорції та вміщує в рамку */
}

.category-details, .product-details {
  text-align: center;
}

.category-details h3, .product-details h3 {
  margin: 0 0 10px 0;
  color: #4a4a4a;
  font-size: 1.3rem;
}

.category-details button, .product-details button {
  padding: 8px 15px;
}
